.kanban-board {
  overflow-y: hidden;
  display: flex;
  height: 100%;
  min-height: 500px;
  width: 100%;
  justify-content: center;
  background-color: whitesmoke;

  &__column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 300px;
    margin: 10px 5px 50px 5px;
    text-align: center;
    background-color: white;

    &__last-dropzone {
      height: 100%;
    }
  }
}
