.kanban-board {
  overflow-y: hidden;
  display: flex;
  height: 100%;
  min-height: 500px;
  width: 100%;
  justify-content: center;
  background-color: whitesmoke;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    width: 100%;
  }

  &__add-button {
    justify-self: end;
    margin: 5px;
    position: relative;
    top: 0;
    right: 0;
  }

  &__column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 300px;
    margin: 10px 5px 50px 5px;
    text-align: center;
    background-color: white;

    &__last-dropzone {
      height: 100%;
    }
  }
}
