.task-card {
  cursor: pointer;
  min-width: 250px;
  max-width: 350px;
  max-height: 150px;
  margin: 5px 10px;
  text-align: center;
  user-select: none;

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
