.task-details-dialog {
  min-width: 250px;
  min-height: 350px;

  &__content {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;

    &__form {
      &-control {
        width: 100%;

        &.footer {
          margin-bottom: 15px;
        }
      }

      &-submit {
        width: 100%;
        margin: auto;
        justify-content: center !important;
      }
    }
  }
}
