<div class="task-details-dialog">
  <h2 mat-dialog-title>{{'create_new_task_dialog.title' | translate}}</h2>

  <mat-dialog-content class="task-details-dialog__content">
    <form [formGroup]="form" class="task-details-dialog__content__form">
      <mat-form-field [hintLabel]="('create_new_task_dialog.form.title.hint' | translate: { min: 3, max: 10 })"
        class="task-details-dialog__content__form-control footer">
        <mat-label>{{'create_new_task_dialog.form.title.label' | translate}}</mat-label>
        <input matInput #titleInput maxlength="10" formControlName="title" />
        <mat-hint align="end">{{ titleInput.value.length }}/10</mat-hint>
      </mat-form-field>

      <mat-form-field class="task-details-dialog__content__form-control">
        <mat-label>{{'create_new_task_dialog.form.column.label' | translate}}</mat-label>
        <mat-select formControlName="column">
          <mat-option *ngFor="let column of kanbanBoardColumnsNamesAndIds$ | async" [value]="column.id">
            {{ column.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [hintLabel]="('create_new_task_dialog.form.description.hint' | translate: { max: 255 })"
        class="task-details-dialog__content__form-control footer">
        <mat-label>{{'create_new_task_dialog.form.description.label' | translate}}</mat-label>
        <textarea matInput #descriptionInput maxlength="255" formControlName="description"></textarea>
        <mat-hint align="end">{{ descriptionInput.value.length }}/255</mat-hint>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="task-details-dialog__content__form-submit">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
      Create
    </button>
  </mat-dialog-actions>

</div>
